{% extends 'base.html.twig' %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">    
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block body %}
{# {{message}} #}
    <form action="/signup" enctype="multipart/form-data" class="container" method="post" name="myForm" onsubmit="return validateForm()"> 
        <h1>SIGNUP</h1>
        <div class="form-group">
            <label for="usr"> Name:</label>
            <input type="text" class="form-control" id="name" name="name" required><b><span class="formerror"> </span></b>
        </div>
        <div class="form-group">
            <label for="usr"> Username:</label>
            <input type="text" class="form-control" id="username" name="username" required><b><span class="formerror"> </span></b>
        </div>
        <div class="form-group">
            <label for="myfile">Select an Image:</label>
            <input type="file" id="myfile" name="image" class="image " accept="image/*"><br><br>
        </div>
        <div class="form-group">
            <label for="usr"> Email:</label>
            <input type="email" class="form-control" id="emailid" name="email" required><b><span class="formerror"> </span></b>
            <a onclick="otp()">Send OTP</a>
        </div>
        <div class="form-group" id="otp">
            <label for="otp"> OTP:</label>
            <input type="number" class="form-control" id="otpinput" name="otp" required>
            <a onclick="otp()">Resend OTP</a>
        </div>
        <div class="form-group">
            <label for="usr">Password:</label>
            <input type="password" class="form-control" id="pswd" name="pswd" required><br><b><span class="formerror"> </span></b>
        </div>
        <div class="form-group">
            <label for="usr">Re-enter Password:</label>
            <input type="password" class="form-control" id="repswd" name="repswd" required><br><b><span class="formerror"> </span></b>
        </div> 
        <button class="btn btn-outline-success" type="submit" name="signup">Signup</button>
        <div class="form-group mt-5">
            <p>Have an account? <a href="/login">Signin</a></p>
        </div>
    </form>
    
{% endblock %}